@{
    ViewBag.Title = "ITSolution Informática Home";
}

<div class="jumbotron">
    <h1>ITSolution Enterprise</h1>
    <p class="lead">O ITSolution Enterprise é um sistema ERP nas núvens de fácil operação e manutenção.
    Seu modelo DevOps permite que você cliente não precise se preocupar com atualizações do sistema, serão todas fornecidas pela ITSoltution!</p>
    <p><a href="http://www.itesolution.com.br/" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.itesolution.com.br/">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://www.itesolution.com.br/">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://www.itesolution.com.br/">Leia mais &raquo;</a></p>
    </div>
</div>