<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="Balcao" connectionString="Data Source=(local);Initial Catalog=dbBalcao_DEV;User ID=sa;Password=123456;Connection Timeout=90;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="defaultBinding" portSharingEnabled="true">
          
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
