<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Boleto.Net" version="2.1.0.945" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Linq.Dynamic" version="1.0.8" targetFramework="net48" />
</packages>